@media all and (max-width: 1024px) {
  html div.mid, body div.mid {
    width: 798px;
  }
  html .topbar .mid, body .topbar .mid {
    padding: 0 5%;
  }
  html .rightside, body .rightside {
    display: none;
  }
  html .header .mid, body .header .mid {
    padding: 0;
  }
  html .header .logotext, body .header .logotext {
    padding-top: 0;
  }
  html .header .logotext h2, body .header .logotext h2 {
    font-size: 27px;
  }
  html .header .school_img img, body .header .school_img img {
    width: 100%;
  }
  html .graymenu, body .graymenu {
    height: 40px;
  }
  html .graymenu .navbar, body .graymenu .navbar {
    min-height: 40px !important;
  }
  html .graymenu .navbar-nav > li > a, html .graymenu .navbar-brand, body .graymenu .navbar-nav > li > a, body .graymenu .navbar-brand {
    height: 40px;
  }
  html .graymenu .navbar-default .navbar-nav .open .dropdown-menu, body .graymenu .navbar-default .navbar-nav .open .dropdown-menu {
    font-size: 13px;
  }
  html .graymenu .navbar-default .navbar-nav > li, html .graymenu .navbar-default .navbar-nav li:first-child, body .graymenu .navbar-default .navbar-nav > li, body .graymenu .navbar-default .navbar-nav li:first-child {
    border: 0;
  }
  html .graymenu .navbar-default .navbar-nav > li:nth-child(2) > a, body .graymenu .navbar-default .navbar-nav > li:nth-child(2) > a {
    padding: 10px 30px;
  }
  html .graymenu .navbar-default .navbar-nav > li > a, html .graymenu .navbar-default .navbar-nav > li > a:hover, body .graymenu .navbar-default .navbar-nav > li > a, body .graymenu .navbar-default .navbar-nav > li > a:hover {
    padding: 10px 30px;
    font-size: 15px;
    line-height: 14px;
  }
  html .articleblock, body .articleblock {
    float: none;
    width: 100%;
  }
  html .articleblock .infoblock, body .articleblock .infoblock {
    margin: 20px 0;
    display: inline-block;
    width: 48%;
  }
  html .articleblock .infoblock p, body .articleblock .infoblock p {
    width: 200px;
  }
  html .contentpage .rightmenu, body .contentpage .rightmenu {
    display: none;
  }
  html .contentpage article, body .contentpage article {
    position: relative;
    width: 100%;
  }
  html .contentheader .mid, body .contentheader .mid {
    padding: 30px 30px;
  }
}

@media all and (max-width: 815px) {
  html div.mid, body div.mid {
    width: 100%;
  }
}

@media all and (max-width: 767px) {
  html div.mid, body div.mid {
    width: 100%;
  }
  html .header .logotext, body .header .logotext {
    width: 90%;
  }
  html .header .school_img, body .header .school_img {
    display: none;
  }
  html .graymenu, body .graymenu {
    height: auto;
    background: white;
  }
  html .graymenu .navbar, body .graymenu .navbar {
    height: auto !important;
  }
  html .graymenu .navbar > li > a, html .graymenu .navbar > li > a:hover,
  html .graymenu .navbar > li:nth-child(2) > a, body .graymenu .navbar > li > a, body .graymenu .navbar > li > a:hover,
  body .graymenu .navbar > li:nth-child(2) > a {
    padding: 10px 0;
    padding-left: 30px;
    text-align: left;
  }
  html .graymenu .navbar-default .navbar-nav, body .graymenu .navbar-default .navbar-nav {
    margin: 7.5px 0;
  }
  html .graymenu .navbar-default .navbar-nav > li > a, html .graymenu .navbar-default .navbar-nav > li > a:hover, body .graymenu .navbar-default .navbar-nav > li > a, body .graymenu .navbar-default .navbar-nav > li > a:hover {
    border-top: 0;
    text-align: left;
  }
  html .graymenu .navbar-default .navbar-nav > li > a::before, html .graymenu .navbar-default .navbar-nav > li > a:hover::before, body .graymenu .navbar-default .navbar-nav > li > a::before, body .graymenu .navbar-default .navbar-nav > li > a:hover::before {
    height: 0;
  }
  html .graymenu .navbar-default .menutitle, body .graymenu .navbar-default .menutitle {
    display: block;
  }
  html .graymenu .navbar-default .navbar-toggle, body .graymenu .navbar-default .navbar-toggle {
    float: left;
    margin-left: 30px;
  }
  html .graymenu .container-fluid > .navbar-collapse, html .graymenu .container-fluid > .navbar-header, html .graymenu .container > .navbar-collapse, html .graymenu .container > .navbar-header, body .graymenu .container-fluid > .navbar-collapse, body .graymenu .container-fluid > .navbar-header, body .graymenu .container > .navbar-collapse, body .graymenu .container > .navbar-header {
    margin-right: 0;
  }
  html .carousel, body .carousel {
    margin: 0;
    outline: 0;
  }
  html .carousel-control, body .carousel-control {
    width: 10%;
  }
  html .carousel-caption, body .carousel-caption {
    bottom: 0;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    padding: 0 20px;
  }
  html .articleblock, body .articleblock {
    outline: 0;
  }
  html .articleblock *, body .articleblock * {
    padding: 0 5%;
  }
  html .articleblock .infoblock, body .articleblock .infoblock {
    margin: 10px 0;
    width: 100%;
  }
  html .body, body .body {
    background: #FFF;
  }
  html .footer .bottommenu, body .footer .bottommenu {
    display: none;
  }
  html .footer .footerabout .enroll, body .footer .footerabout .enroll {
    padding: 15px 10%;
    margin-bottom: 20px;
  }
  html .head3, body .head3 {
    font-size: 20px;
  }
  html .head1, body .head1 {
    font-size: 20px;
  }
}

@media all and (max-width: 725px) {
  .affix {
    right: auto;
    left: 5%;
  }
  html .articleblock h2, body .articleblock h2 {
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 20px;
    background: #5384a2;
    color: white;
    border-left: 0;
  }
  html .articleblock h2:hover, body .articleblock h2:hover {
    border-left: 0;
  }
  html .articleblock h2 a, body .articleblock h2 a {
    color: white;
  }
  html .contentheader.margins, body .contentheader.margins {
    margin-bottom: 0;
  }
  html .contentpage article.staffarticle, body .contentpage article.staffarticle {
    width: 100%;
    background: #f3f7f9;
  }
  html .contentpage article.staffarticle .columngray, html .contentpage article.staffarticle .columnwhite, body .contentpage article.staffarticle .columngray, body .contentpage article.staffarticle .columnwhite {
    width: 320px;
    background: white;
    position: relative;
    left: 50%;
    display: block;
    margin-left: -160px;
  }
  html .contentpage article.staffarticle .columngray .staffblock, html .contentpage article.staffarticle .columnwhite .staffblock, body .contentpage article.staffarticle .columngray .staffblock, body .contentpage article.staffarticle .columnwhite .staffblock {
    padding: 20px 5%;
  }
  html .contentpage article.staffarticle .columngray .staffblock > img, html .contentpage article.staffarticle .columnwhite .staffblock > img, body .contentpage article.staffarticle .columngray .staffblock > img, body .contentpage article.staffarticle .columnwhite .staffblock > img {
    border-radius: 50%;
  }
  html .contentpage article.staffarticle .columngray .staffblock p, html .contentpage article.staffarticle .columnwhite .staffblock p, body .contentpage article.staffarticle .columngray .staffblock p, body .contentpage article.staffarticle .columnwhite .staffblock p {
    text-align: left;
    width: 240px;
    margin: 0 auto;
  }
}

@media all and (max-width: 560px) {
  html .contentheader, body .contentheader {
    -webkit-box-shadow: none;
            box-shadow: none;
    height: auto;
  }
  html .contentheader h2, body .contentheader h2 {
    font-size: 24px;
  }
  html .contentheader .breadcrumb, body .contentheader .breadcrumb {
    margin-bottom: 0;
  }
  html .contentheader.margins .mid, body .contentheader.margins .mid {
    padding: 0;
  }
  html .carousel, body .carousel {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  html .carousel-caption, body .carousel-caption {
    font-size: 11px;
  }
}

@media all and (max-width: 384px) {
  html .articleblock .infoblock, body .articleblock .infoblock {
    text-align: center;
  }
  html .articleblock .infoblock p, body .articleblock .infoblock p {
    margin: 20px 0;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=media.css.map */
