@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic);
html,body{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
}
span.skype_c2c_container, span.skype_c2c_container *{
    color: white !important;
    font-family: 'Roboto Condensed', sans-serif !important;
}
span.skype_c2c_container img.skype_c2c_logo_img {
    display: none !important;
}
.wrapper{
    position: relative;
    min-height: 100%;
    width:100%;
}
.topbar
{
    height: 50px;
    width: 100%;
    background: #5384a2;
    color: white;
    line-height: 50px;
    font-size: 16px;
}
.header
{
    height:250px;
    width: 100%;
    background-color: white;
}
.header .height{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.header .mid{
    height: 100%;
}
.header .logotext{
    color: #553e52;
    width: 40%;
    display: inline-block;
    padding-top:20px;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    vertical-align: middle;
}
.header .logotext span{
    display: block;
}
.header .logotext h2{
    font-weight: bold;
    font-size: 32px;
}
.header .school_img{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    padding-top: 30px;
}
.contentheader{
    width: 100%;
    height: 160px;
    background-color: #5384a2;
    text-align: left;
}
.contentheader .mid{
    padding: 50px 30px;
}
.contentheader h2{
    color: white;
    font-size: 28px;
    margin: 0px;
}
.contentheader .breadcrumb{
    background: transparent;
    font-size: 14px;
    color: #b4d5ea;
    padding: 0;
    margin-top: 10px;
}
.contentheader .breadcrumb a{
    color: #b4d5ea;
}
.contentheader .breadcrumb a:hover{
    color: white;
}
div.mid{
    width: 960px;
    margin: 0 auto;
    display: block;
}
div.mid:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.rightside{
    float: right;
}
.rightside .active{
    background: #0C6F96;
}
.rightside span, .rightside abbr{
    height: 100%;
    min-width: 45px;
    display: inline-block;
    padding: 0 10px;
    border-bottom: none;
    text-decoration: none;
}
.rightside span:hover, .rightside abbr:hover{
    background: #0C6F96;
    cursor: pointer;
}
.rightside span.active:hover, .rightside abbr.active:hover{
    cursor: default;
}
.leftside{
    float: left;
}
.graymenu{
    height: 50px;
    width: 100%;
    border-bottom: 1px dashed #a3b3bc;
    border-top: 1px solid #a3b3bc;
}
.graymenu .container-fluid{
    padding: 0;
}
.graymenu .navbar-default{
    border-radius: 0px;
    background: transparent;
    border: 0px;
}
.graymenu .navbar-collapse{
    padding: 0px;
}
.graymenu .navbar-default .navbar-nav {
    text-transform: uppercase;
}
.graymenu .navbar-default .navbar-nav>li{
    border-right: 1px dashed #a3b3bc;
}
.graymenu .navbar-default .navbar-nav li:first-child{
    border-left: 1px solid white;
}
.graymenu .navbar-default .navbar-nav>li.active{
    border:0;
}
.graymenu .navbar-default .navbar-nav>li>a {
    color: #000;
    padding: 15px 47px;
    font-size: 16px;
}
.graymenu .navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
    padding: 15px 47px;
    font-size: 16px;
    background: #5384a2;
}
.graymenu .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background: transparent;
    border:0;
}
.carousel{
    display: block;
    margin-top:25px;
    margin-bottom: 100px;
}
.carousel-indicators{
    bottom: -50px;
}
.carousel-indicators li{
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background-color: #c6c6c6;
    margin: 0 8px;
}
.carousel-indicators .active{
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background-color: #5384a2;
    cursor:auto;
    margin: 0 8px;
}
.carousel-caption{
    left: 0%;
    right: 0%;
    background-color: rgba(255,255,255,0.5);
    color: #1d1d1d;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    text-align: right;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: bold;
}
.body{
    padding-bottom: 400px;
    background-color: #f3f7f9;
}
.footer{
    position: absolute;
    left:0;
    bottom: 0;
    height: 400px;
    color: white;
    width: 100%;
    padding: 50px 0;
    background: #5384A2 url(/img/footer.jpg) no-repeat top center;
}
.footer .bottommenu{
    width: 300px;
    display: inline-block;
    text-align: left;
    font-size: 14px;
}

.footer .bottommenu ul{
    list-style: none;
}

.footer .bottommenu ul li{
    margin-bottom: 18px;
}
.footer .bottommenu ul li a{
    color: white;
}

.footer .footerabout{
    width: 60%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.footer .footerabout .enroll{
    display: inline-block;
    background: #2f4852;
    text-transform: uppercase;
    padding: 15px 120px;
    font-size: 14px;
    color: white;
    margin-bottom: 40px;
    -webkit-transition:  all 0.8s ease-out 0.2s;
    -moz-transition:  all 0.8s ease-out 0.2s;
    -o-transition: all 0.8s ease-out 0.2s;
    transition: all 0.8s ease-out 0.2s;
}
.footer .footerabout .enroll:hover{
    text-decoration: none;
    background: #1d1d1d;
    color: white;
    font-weight: normal;
}
.head1{
    font-size: 30px;
    font-weight: bold;
}
.head3{
    font-size: 24px;
}

.articleblock{
    width: 450px;
    display:inline-block;
    outline:1px solid #dee3e7;
    background: white;
    text-align: left;
    float: left;
    vertical-align: top;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.articleblock.right{
    float: right;
}
.articleblock *{
    padding: 0 25px;
    text-indent: 0px;
}
.articleblock *::selection,p::selection{
    background: #1d1d1d;
    color: white;
    text-shadow: none;
    font-size: 10px;
}
.articleblock h2{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #1d1d1d;
    border-bottom: 1px solid #DEE3E7;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-top: 0;
    border-left: 3px solid white;
}
.articleblock h2:hover{
    border-left: 3px solid #337ab7;
}
.articleblock h2 a{
    text-decoration: none;
    color: #1d1d1d;
}
.articleblock h2 a:hover{
    text-decoration: none;
    color: #337ab7;
}
.articleblock .divider{
    width: 100%;
    height:1px;
    background: #DEE3E7;
    margin: 20px 0;
}
.articleblock .infoblock{
    margin: 30px 0;
}

.articleblock .infoblock img{
    padding: 0 20px;
    display: inline-block;
}
.articleblock .infoblock p{
    display: inline-block;
    width: 260px;
    vertical-align: middle;
    padding: 0;
    font-size: 16px;
}
.articleblock .readmore{
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    text-align: right;
    color: #5E5E5E;
    font-weight: bold;
}
.articleblock .readmore:hover{
    text-decoration: none;
    color: #337ab7;
}
.articleblock .readmore .glyphicon{
    margin: 0;
    padding: 0 5px;
    font-size: 12px;
    position: relative;
    top: 0px;
}
.articleblock article{
    font-size: 16px;
    margin-top: 20px;
    text-indent: 20px;
}
.articleblock:nth-child(2n){
    float: right;
}

article ul{
    list-style-type: square;
}

article ul li{
    padding-left: 0px !important;
}
.contentpage .mid{
    position: relative;
    text-align: left;
}
.contentpage article{
    width: 705px;
    height: 100%;
    border-left: 1px solid #dfe4e7;
    border-right: 1px solid #dfe4e7;
    display: inline-block;
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    padding: 50px 25px;
    font-size:15px;
}
.contentpage article.staffarticle{
    padding: 0;
    position: relative;
}
.contentpage article.staffarticle .columngray{
    width: 340px;
    background: #f3f7f9;
    height: 100%;
    display: inline-block;
    margin-left: 1px;
    position: absolute;
    left: 0;
}
.contentpage article.staffarticle .columnwhite{
    margin-left: 360px;
    width: 340px;
    display: inline-block;
}
.contentpage article.staffarticle .columngray:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.contentpage article.staffarticle .columnwhite .staffblock{
    position: static;
    width: 100%;
    display: inline-block;
}
.staffblock{
    padding: 30px 40px;
    text-align: center;
}
.staffblock a{
    color: #5384A2;
}
.staffblock h3{
    color: #553e52;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 30px;
}
.staffblock h3 span{
    width: 100%;
    display: block;
}
.staffblock p{
    text-align: left;
}
.contentpage .rightmenu{
    display: inline-block;
    width: 240px;
    float: right;
    padding: 50px 0px;
    padding-right: 20px;
}
.contentpage .rightmenu ul{
    color: #6a737a;
    list-style-type: none;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
}
.contentpage .rightmenu ul a{
   color: #6a737a;
}
.contentpage .rightmenu ul a.active{
    text-decoration: underline;
}
.contentpage .rightmenu ul a:hover{
    color: #000;
}

.contentpage .rightmenu ul ul{
    font-weight: normal;
    list-style-type: none;
    font-size: 14px;
    padding-left: 20px;
}
.contentpage .rightmenu ul ul li{
    margin: 9px 0px;
}
.contentpage article.singleton{
    position: relative;
    width: 100%;
    text-indent: 20px;
}
.tabledoc{
    text-align: left;
    text-transform: uppercase;
    margin: 45px 0px;
    font-size: 14px;
}
.tabledoc tr{
    border-bottom: 1px solid #dfe4e7;
}
.tabledoc tr:hover{
    background: #f3f7f9;
}
.tabledoc td.type{
    width: 120px;
    text-align: center;
    padding: 5px 0;
}
.tabledoc td a{
    display: block;
    color: #1d1d1d;
    height: 100%;
    width: 100%;
    padding: 15px 25px;
    text-indent: 0px;
}
.tabledoc td a:hover{
    text-decoration: none;
}

#simpletemplate .glyphicon{
    padding: 0;
}
div#map{
    width: 90%;
    margin-left: 20px;
}
.menutitle{
    float: left;
    font-size: 20px;
    margin-top: 8px;
    line-height: 35px;
    display: none;
}

.affix{
    bottom: 5%;
    right: 5%;
}
.affix:hover{

}
.affix a:hover, .affix a:focus{
    color: white;
    text-decoration: none;
    background: #5384a2;
    border: 1px solid #466e8c;
}
.navbar-fixed-top + .content-container {
    margin-top: 70px;
}
.content-container {
    margin: 0 130px;
}

/*LOAD*/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
    background: #29d;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
    transform: translateX(100%) translateY(-100%) rotate(45deg);
    pointer-events: none;
}

.pace.pace-active .pace-activity {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
    transform: translateX(50%) translateY(-50%) rotate(45deg);
}

.pace .pace-activity::before,
.pace .pace-activity::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: '';
}

.pace .pace-activity::before {
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-right-color: rgba(0, 0, 0, .2);
    border-left-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-theme-corner-indicator-spin 3s linear infinite;
    animation: pace-theme-corner-indicator-spin 3s linear infinite;
}

.pace .pace-activity::after {
    bottom: 50px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-theme-corner-indicator-spin 1s linear infinite;
    animation: pace-theme-corner-indicator-spin 1s linear infinite;
}

@-webkit-keyframes pace-theme-corner-indicator-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}
@keyframes pace-theme-corner-indicator-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}