.topbar {
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}
.header{
    height: 250px;
}

.header .logotext{
    font-size: 13px;
}
.header .logotext h2{
    font-size: 30px;
}
.graymenu .navbar-default .navbar-nav>li>a {
    padding: 15px 53px;
    font-size: 14px;
    /*font-weight: bold;*/
}
.graymenu .navbar-default .navbar-nav>li>a:hover {
    padding: 15px 52px;
    font-size: 14px;
}
.articleblock h2 {
    font-size: 20px;
}
.articleblock article {
    font-size: 14px;
}
.articleblock .infoblock p{
    font-size: 14px;
}
.footer .bottommenu {
    font-size: 13px;
}
.contentheader h2 {
    font-size: 26px;
}
.contentheader .breadcrumb{
    font-size: 13px;
}
.contentpage article{
    font-size: 14px;
}
.staffblock h3{
    font-size: 17px;
    line-height: 23px;
}
.contentpage .rightmenu ul{
    font-size: 14px;
}
.contentpage .rightmenu ul ul{
    font-size: 13px;
}
.tabledoc{
    font-size: 13px;
}