@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic);
/*Common CSS*/
@import 'mixins.scss';
@import 'bootstrap/mixins';
@import 'bootstrap/variables';

@import 'bootstrap/normalize';
@import 'bootstrap/print';
@import 'bootstrap/scaffolding';

/*BootStrap Components*/
@import 'bootstrap/carousel';
@import 'bootstrap/forms';
@import 'bootstrap/glyphicons';
@import 'bootstrap/dropdowns';
@import 'bootstrap/navs';
@import 'bootstrap/navbar';
@import 'bootstrap/component-animations';

/* usage vars*/
$font: 'Roboto Condensed', sans-serif;

/* template colors*/
$blue-middle: #b4d5ea;
$blue-light: #f3f7f9;
$blue-dark: #5384a2;
$purple: #553e52;
$blue-shadow: #17232b;

html,body{
  text-align: center;
  font-family: $font;
  height: 100%;
  .wrapper{
    position: relative;
    min-height: 100%;
    width:100%;
  }

  .topbar
  {
    position: relative;
    height: 50px;
    width: 100%;
    background: $blue-dark;
    color: white;
    line-height: 50px;
    font-size: 16px;
    border-bottom: 1px solid #ffffff;
    @include box-shadow(0px 0px 20px rgba(0, 0, 0, 0.32));
  }
  .header
  {
    height:250px;
    width: 100%;
    background-color: white;
    .height{
      @include inline-block();
      height: 100%;
      vertical-align: middle;
    }
    .mid{
      height: 100%;
    }
    .logotext{
      color: $purple;
      width: 40%;
      @include inline-block();
      padding-top:20px;
      font-size: 15px;
      font-family: $font;
      vertical-align: middle;
      span{
        display: block;
      }
      h2{
        font-weight: bold;
        font-size: 32px;
        margin: 2% 0%;
        line-height: 38px;
      }
    }
    .school_img{
      width: 50%;
      @include inline-block();
      vertical-align: middle;
      padding-top: 30px;
    }
  }
  .contentheader{
    width: 100%;
    background-color: $blue-dark;
    text-align: left;
    @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
    &.margins{
      margin-bottom: 40px;
    }
    .mid{
      padding: 50px 30px;
    }
    h2{
      color: white;
      font-size: 28px;
      margin: 0px;
    }
    .breadcrumb{
      background: transparent;
      font-size: 14px;
      color: $blue-middle;
      padding: 0;
      margin-top: 10px;
      a{
        color: $blue-middle;
        &:hover{
          color: white;
        }

      }
    }
  }
  div.mid{
    width: 960px;
    margin: 0 auto;
    display: block;
    &:after{
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
  .leftside{
    float: left;
  }
  .rightside{
    float: right;
    .active{
      background: #0C6F96;
    }
    span,abbr{
      height: 100%;
      min-width: 45px;
      @include inline-block();
      padding: 0 10px;
      border-bottom: none;
      text-decoration: none;
      &.active{
        cursor: default;
      }
      &:hover{
        background: #0C6F96;
        cursor: pointer;
      }
    }
  }
  .graymenu{
    height: 50px;
    width: 100%;
    background: $blue-light;
    border-top: 1px solid $blue-middle;
    @include box-shadow(2px 2px 2px #dae5ea);
    color: #000;
    .container-fluid{
      padding: 0;
    }
    .navbar-default{
      @include border-radius("0px");
      background: transparent;
      border: 0px;
      .navbar-nav {
        text-transform: uppercase;
        &>li{
          &>a {
            color: $blue-dark;
            border-top: 4px solid $blue-light;
            padding: 15px 47px;
            font-size: 16px;
            line-height: 16px;
            font-weight: bold;
            &::before{
              position: absolute;
              background: orange;
              width: 100%;
              height: 0%;
              top: -4px;
              left: 0;
              content:'';
            }
            &:hover::before{
              height: 4px;
              @include transition(height 0.25s linear);
            }

            &:hover {
              margin-top: -1px;
              color: orange;
              line-height: 17px;
            }
          }
        }
        &>li.active{
          border: 0;
          &>a{
            margin-top: -1px;
            color: $blue-dark;
            background: $blue-light;
            border-top: 4px solid $blue-dark;
            line-height: 16px;
            pointer-events: none;
          }
        }
        &>.open{
          >a{
            border-top: 4px solid orange;
            background: $blue-light;
            margin-top: -1px;
            color: orange;
            line-height: 17px;
          }
        }
        .dropdown-menu{
          background: $blue-light;
          border-top: 0;
          li{
            a{
              &:hover{
                background: orange;
                color: white;
              }
            }
          }
        }
      }
      .menutitle{
        float: left;
        font-size: 20px;
        margin-top: 8px;
        line-height: 35px;
        display: none;
      }
    }
    .navbar-collapse{
      padding: 0px;
    }
  }
  .carousel{
    display: block;
    margin-top:25px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 5px #112938;
    outline: 2px dotted rgba(255, 255, 255, 0.38);
    outline-offset: 20px;
  }
  .carousel-indicators{
    bottom: -50px;
    .active{
      height: 18px;
      width: 18px;
      @include border-radius(18px);
      background-color: $blue-dark;
      cursor:auto;
      margin: 0 8px;
    }
    li{
      height: 18px;
      width: 18px;
      @include border-radius(18px);
      background-color: #c6c6c6;
      margin: 0 8px;
    }
  }
  .carousel-caption{
    left: 0%;
    right: 0%;
    @include box-rgba(255,255,255,0.5);
    color: #1d1d1d;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    text-align: right;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: bold;
  }
  .body{
    padding-bottom: 375px;
    background-color: $blue-light;
  }
  .footer{
    position: absolute;
    left:0;
    bottom: 0;
    height: 400px;
    color: white;
    width: 100%;
    padding: 50px 0;
    background: $blue-dark url(/img/footer.jpg) no-repeat top center;
    outline: 2px solid rgb(83, 132, 162);
    outline-offset: 1px;
    .bottommenu{
      width: 300px;
      @include inline-block();
      text-align: left;
      font-size: 14px;
      ul{
        list-style: none;
        li{
          margin-bottom: 18px;
          a{
            color: white;
          }
        }
      }
    }
    .footerabout{
      width: 60%;
      @include inline-block();
      text-align: center;
      vertical-align: top;
      .enroll{
        @include inline-block();
        background: #2f4852;
        text-transform: uppercase;
        padding: 15px 120px;
        font-size: 14px;
        color: white;
        margin-bottom: 40px;
        @include transition("all 0.8s ease-out 0.2s");
        &:hover{
          text-decoration: none;
          background: #1d1d1d;
          color: white;
          font-weight: normal;
        }
      }
    }
  }
  .head1{
    font-size: 30px;
    font-weight: bold;
  }
  .head3{
    font-size: 24px;
  }
  .articleblock{
    width: 450px;
    @include inline-block();
    outline:1px solid #dee3e7;
    background: white;
    text-align: left;
    float: left;
    vertical-align: top;
    padding-bottom: 20px;
    margin-bottom: 50px;
    &.right{
      float: right;
    }
    &:nth-child(2n){
      float: right;
    }
    *{
      padding: 0 25px;
      text-indent: 0px;
    }
    *::selection,p::selection{
      background: #1d1d1d;
      color: white;
      text-shadow: none;
      font-size: 10px;
    }
    h2{
      font-size: 24px;
      text-transform: uppercase;
      font-weight: bold;
      color: #1d1d1d;
      border-bottom: 1px solid #DEE3E7;
      padding-bottom: 20px;
      padding-top: 30px;
      margin-top: 0;
      border-left: 3px solid white;
      &:hover{
        border-left: 3px solid #337ab7;
      }
      a{
        text-decoration: none;
        color: #1d1d1d;
        &:hover{
          text-decoration: none;
          color: #337ab7;
        }
      }
    }
    .divider{
      width: 100%;
      height:1px;
      background: #DEE3E7;
      margin: 20px 0;
    }
    .infoblock{
      margin: 30px 0;
      img{
        padding: 0 20px;
        @include inline-block();
      }
      p{
        @include inline-block();
        width: 260px;
        vertical-align: middle;
        padding: 0;
        font-size: 16px;
      }
    }
    .readmore{
      text-transform: uppercase;
      font-size: 16px;
      display: block;
      text-align: right;
      color: #5E5E5E;
      font-weight: bold;
      &:hover{
        text-decoration: none;
        color: #337ab7;
      }
      .glyphicon{
        margin: 0;
        padding: 0 5px;
        font-size: 12px;
        position: relative;
        top: 0px;
      }
    }
    article{
      font-size: 16px;
      margin-top: 20px;
      text-indent: 20px;
    }
    ul{
      list-style-type: square;
      li{
        padding-left: 0px !important;
      }
    }
  }
  .contentpage{
    .mid{
      position: relative;
      text-align: left;
    }
    article{
      width: 705px;
      height: 100%;
      border-left: 1px solid #dfe4e7;
      border-right: 1px solid #dfe4e7;
      @include inline-block();
      background: white;
      position: absolute;
      left: 0;
      top: 0;
      padding: 50px 25px;
      font-size:15px;
      ._staffblock{
        padding: 30px 40px;
        text-align: center;
        a{
          color: $blue-dark;
        }
        p{
          text-align: left;
        }
        h3{
          color: $purple;
          font-size: 19px;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 24px;
          margin-bottom: 30px;
          span{
            width: 100%;
            display: block;
          }
        }
      }

      &.staffarticle{
        padding: 0;
        position: relative;
        .columngray{
          width: 340px;
          background: $blue-light;
          height: 100%;
          @include inline-block();
          margin-left: 1px;
          position: absolute;
          left: 0;
          &:after{
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
          }
          .staffblock{
            @extend ._staffblock;
          }
        }
        .columnwhite{
          background: white;
          margin-left: 360px;
          width: 340px;
          @include inline-block();
          .staffblock{
            @extend ._staffblock;
            position: static;
            width: 100%;
            @include inline-block();
          }
        }
      }
      &.singleton{
        position: relative;
        width: 100%;
        text-indent: 20px;
      }
    }
    .rightmenu{
      @include inline-block();
      width: 240px;
      float: right;
      padding: 50px 0px;
      padding-right: 20px;
      ul{
        color: #6a737a;
        list-style-type: none;
        font-weight: bold;
        font-size: 16px;
        padding-left: 20px;
        a{
          color: #6a737a;
          &:hover{
            color: #000;
          }
          &.active{
            text-decoration: underline;
          }
        }
        ul{
          font-weight: normal;
          list-style-type: none;
          font-size: 14px;
          padding-left: 20px;
          li{
            margin: 9px 0px;
          }
        }
    }
  }
    .tabledoc{
      text-align: left;
      text-transform: uppercase;
      margin: 45px 0px;
      font-size: 14px;
      tr{
        border-bottom: 1px solid #dfe4e7;
        &:hover{
          background: $blue-light;
        }
        td{
          &.type{
            width: 120px;
            text-align: center;
            padding: 5px 0;
          }
          a{
            display: block;
            color: #1d1d1d;
            height: 100%;
            width: 100%;
            padding: 15px 25px;
            text-indent: 0px;
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
      }
    }
}
#simpletemplate .glyphicon{
  padding: 0;
}
div#map{
  width: 90%;
  margin-left: 20px;
}

.affix{
  bottom: 5%;
  right: 5%;
}
.affix:hover{

}
.affix a:hover, .affix a:focus{
  color: white;
  text-decoration: none;
  background: $blue-dark;
  border: 1px solid #466e8c;
}
.navbar-fixed-top + .content-container {
  margin-top: 70px;
}
.content-container {
  margin: 0 130px;
}

span.skype_c2c_container, span.skype_c2c_container *{
  color: white !important;
  font-family: $font !important;
}
span.skype_c2c_container img.skype_c2c_logo_img {
  display: none !important;
}